---
// `---...---`是astro的code fence, 只會到傳輸到伺服器端的時候執行一次
// src/layouts/MyHomeLayout.astro
import Header from '../components/myComponents/Header.astro';
import SidebarLeft from '../components/myComponents/SidebarLeft.astro';
import SidebarRight from '../components/myComponents/SidebarRight.astro';
import ChatWindow  from '../components/myComponents/ChatWindow.astro';
import '../assets/styles/tailwind.css';
const { title = "My Social Resume" } = Astro.props; //Astro物件傳送(props)從page介面接收到的資訊
---

<!doctype html>
<html lang="zh-TW" class="h-full bg-gray-100">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body class="h-full overflow-hidden text-gray-900 antialiased">
		
		<div class="flex h-screen w-full flex-col">
			<Header />
			<div class="flex flex-1 overflow-hidden">
				<SidebarLeft />
				<main class="flex-1 overflow-y-auto bg-white p-4">
					<slot /> <!-- slot 挖洞, 給外部填充會變動的內容`--> 
				</main>
				<SidebarRight />
			</div>
		</div>

	</body>
</html>